src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="customer-api" doc:id="06972a7d-5057-4c41-a021-c0442b11b9bb">
        <http:listener config-ref="order-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="order-api-config" />
        <error-handler ref="global-error-handler" />
    </flow>
    <flow name="order-api-console">
        <http:listener config-ref="order-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="order-api-config" />
        <error-handler ref="global-error-handler" />
    </flow>
    <flow name="get:\customers:order-api-config">
        <flow-ref doc:name="get by Name" doc:id="7192d918-5e9c-4185-afda-9616d5cb394e" name="getByName" />
    </flow>
    <flow name="get:\customers\(customerId):order-api-config">
        <flow-ref doc:name="get by id" doc:id="aef1d10d-f7c2-44c1-8647-bc90679c4423" name="getById" />
    </flow>
    <flow name="post:\customers:application\json:order-api-config">
        <flow-ref doc:name="post" doc:id="43e62604-1fdd-46df-b995-8472c6d66233" name="post:\customers" />
    </flow>
    <flow name="delete:\customers\(customerId):order-api-config">
        <flow-ref doc:name="delete" doc:id="f88c3933-a51c-4849-864f-e4cbaad9f9f9" name="deleteFlow" />
    </flow>
</mule>
